<?xml version="1.0" ?>
<robot name="casus" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- world -->
    <link name="world" />
    <link name="world_interface" />


    <!-- Joints -->
    <joint name="world_interface_to_world" type="fixed">
        <parent link="world" />
        <child link="world_interface" />
        <origin xyz="0 0 0.0" rpy="0 0 0"/>
    </joint>


    <!-- logical camera 1 collision model -->
    <xacro:include filename="$(find casus_support)/urdf/logical_camera/logical_camera.urdf.xacro"/>
    <xacro:logical_camera_urdf prefix="logical_camera1_" logical_camera_parent="world_interface">
    <origin xyz="-0.95 0.32 1.25" rpy="3.14 2 3.14"/>
    </xacro:logical_camera_urdf>
    
    
    <!-- Shipping Container -->
    <xacro:include filename="$(find casus_support)/urdf/shipping_container_short/shipping_container_short.urdf.xacro"/>
    <xacro:shipping_container_short_urdf shipping_container_short_prefix="container1_" shipping_container_short_parent="world_interface">
    <origin xyz="0.275 -1 0.0" rpy="0 0 0"/>
    </xacro:shipping_container_short_urdf>


    <!-- shipping_container_conveyor -->
    <xacro:include filename="$(find casus_support)/urdf/shipping_container_conveyor_tall/shipping_container_conveyor_tall.urdf.xacro"/>
    <xacro:shipping_container_conveyor_tall_urdf shipping_container_conveyor_tall_prefix="conveyor1_" shipping_container_conveyor_tall_parent="world_interface">
    <origin xyz="0.04 -1 0" rpy="0 0 0"/>
    </xacro:shipping_container_conveyor_tall_urdf>

    <!-- yellow_bin 1 -->
    <xacro:include filename="$(find casus_support)/urdf/yellow_bin/yellow_bin.urdf.xacro"/>
    <xacro:yellow_bin_urdf yellow_bin_prefix="yellow_bin1_" yellow_bin_parent="world_interface">
    <origin xyz="-0.775 -0.49 0.75" rpy="0 -0.19 3.14"/>
    </xacro:yellow_bin_urdf>

    <!-- yellow_bin 2 -->
    <xacro:yellow_bin_urdf yellow_bin_prefix="yellow_bin2_" yellow_bin_parent="world_interface">
    <origin xyz="-0.775 0.32 0.75" rpy="0 -0.19 3.14"/>
    </xacro:yellow_bin_urdf>
    
    <!-- yellow_bin 3 -->
    <xacro:yellow_bin_urdf yellow_bin_prefix="yellow_bin3_" yellow_bin_parent="world_interface">
    <origin xyz="-0.775 1.13 0.75" rpy="0 -0.19 3.14"/>
    </xacro:yellow_bin_urdf>

    <!-- yellow_bin 4 -->
    <xacro:yellow_bin_urdf yellow_bin_prefix="yellow_bin4_" yellow_bin_parent="world_interface">
    <origin xyz="-0.775 1.94 0.75" rpy="0 -0.19 3.14"/>
    </xacro:yellow_bin_urdf>
    
     <!-- yellow_bin 5 -->
    <xacro:yellow_bin_urdf yellow_bin_prefix="yellow_bin5_" yellow_bin_parent="world_interface">
    <origin xyz="-0.775 2.75 0.75" rpy="0 -0.19 3.14"/>
    </xacro:yellow_bin_urdf>

    <!-- Robot1 Pedestal -->
    <xacro:include filename="$(find casus_support)/urdf/robot_pedestal/robot_pedestal.urdf.xacro"/>
    <xacro:robot_pedestal_urdf pedestal_prefix="robot1_" pedestal_parent="world_interface" pedestal_height="0.6">
    <origin xyz="0 0 0.0" rpy="0 0 0"/>
    </xacro:robot_pedestal_urdf>

    <!-- Robot1 -->
    <xacro:include filename="$(find ur_description)/urdf/ur10.urdf.xacro"/>
    <xacro:ur10_robot prefix="robot1_" joint_limited="true"/>

    <!-- Vacuum Gripper1 -->
    <xacro:include filename="$(find casus_support)/urdf/vacuum_gripper/vacuum_gripper.urdf.xacro"/>
    <xacro:vacuum_gripper_urdf prefix="vacuum_gripper1_" joint_prefix="vacuum_gripper1_joint"/>


    <!-- robot1 to pedestal. -->
    <joint name="robot1_to_pedestal" type="fixed">
        <origin xyz="0 0 0.6" rpy="0 0 1.57" />
        <parent link="robot1_pedestal_link" />
        <child link="robot1_base_link" />
    </joint>

    <!-- gripper1 to robot1. -->
    <joint name="gripper1_to_robot1" type="fixed">
        <parent link="robot1_tool0" />
        <child link="vacuum_gripper1_base_link" />
    </joint>


</robot>
